<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What's Wrong?</title>
        <!-- JS -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script> -->
<!--         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!--         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/show.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="">
        <div>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    LearningExplainGEC
                </a>
            </nav>
        </div>
        <div class = "row vh-100">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="leftDiv">
                <div class="texth4 text-uppercase" id = "header_write_a_gec_sent">
                    <h3>
                        TellMeWhy
                    </h3>
                </div>
                <div class = "textcrollbar textcrollbar-color clickable" contentEditable="true" id="write-aes">
                    I discuss [-with-] the issue.
                </div>
                <!-- <textarea class="textcrollbar textcrollbar-color clickable" 
                placeholder="Write something here...&#10;&#10;[Replace]&nbsp;I am [-a-] {+an+} honest teacher.&#10;[Missing]&nbsp;School finishes at five in {+the+} morning .&#10;[Unnecessary]&nbsp;She is arriving on March [-the-] 25th." 
                id="write-aes">I discuss [-with-] the issue.</textarea> -->
                <div class = "icons">
                    <i class="fas fa-search fa-2x" id="send-aes"></i>
                    <i class="fas fa-file-upload fa-2x"></i>
                    <i class="fas fa-file-download fa-2x"></i>
                    <i class="fas fa-trash-alt fa-2x"></i>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 p-0" id="rightDiv">
                <div class = "align-items-center">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="explain-tab" data-toggle="tab" href="#explain" role="tab" aria-controls="explain" aria-selected="true">Explainations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="linggle-tab" data-toggle="tab" href="#linggle" role="tab" aria-controls="linggle" aria-selected="false">Go Linggle</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="explain" role="tabpanel" aria-labelledby="explain-tab">
                            <div class="h-100 accordion scrollbar scrollbar-morpheus-den" id="accordionExample">
                                <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                            <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                Collapsible Group Item #1
                                            </button>
                                            </h2>
                                        </div>
                                    
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                            </div>
                                        </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            Collapsible Group Item #2
                                        </button>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="linggle" role="tabpanel" aria-labelledby="linggle-tab">
                            ...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>