<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>What's Wrong?</title>
        <!-- JS -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script> -->
<!--         <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
<!--         <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="{{ url_for('static', filename='js/show.js') }}"></script>
        <script src="{{ url_for('static', filename='js/linggle.js') }}"></script>
        <script src="{{ url_for('static', filename='js/example.js') }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"></link>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/linggle.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body class="">
        <div>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    LearningExplainGEC
                </a>
            </nav>
        </div>
        <div class = "row vh-100">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5" id="leftDiv">
                <div class="texth4 text-uppercase" id = "header_write_a_gec_sent">
                    <h3>
                        TellMeWhy
                    </h3>
                </div>
                <div class = "textcrollbar textcrollbar-color clickable" contentEditable="true" id="write-aes">
                    I discuss with the issue.
                </div>
                <!-- <textarea class="textcrollbar textcrollbar-color clickable" 
                placeholder="Write something here...&#10;&#10;[Replace]&nbsp;I am [-a-] {+an+} honest teacher.&#10;[Missing]&nbsp;School finishes at five in {+the+} morning .&#10;[Unnecessary]&nbsp;She is arriving on March [-the-] 25th." 
                id="write-aes">I discuss [-with-] the issue.</textarea> -->
                
                <div class = "icons">
                    <button type="button" class="btn btn-outline-primary" id="send-aes">Submit</button>
                    <i class="fas fa-file-upload fa-2x"></i>
                    <i class="fas fa-file-download fa-2x"></i>
                    <i class="fas fa-trash-alt fa-2x"></i>
                </div>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 p-0" id="rightDiv">
                <div class = "align-items-center">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" id="gec-tab" data-toggle="tab" href="#gec" role="tab" aria-controls="gec" aria-selected="true">GEC</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="explain-tab" data-toggle="tab" href="#explain" role="tab" aria-controls="explain" aria-selected="true">Example</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="linggle-tab" data-toggle="tab" href="#linggle" role="tab" aria-controls="linggle" aria-selected="false">Go Linggle</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="gec" role="tabpanel" aria-labelledby="gec-tab">
                            <div class="h-100 accordion scrollbar scrollbar-morpheus-den" id="accordionGEC">
                                <p class="default-intro">Usage: Submit an essay.</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="explain" role="tabpanel" aria-labelledby="explain-tab">
                            <div class="h-100 accordion scrollbar scrollbar-morpheus-den" id="accordionExample">
                                <p class="default-intro">
                                    <p>Usage1: Submit <b>a</b> problem-causing word!</p>
                                    <p>Usage2: There are three types of edits. Enter them in the following formats.</p>
                                    <b>Replacement:</b> He <b>[-borrowed-]{+lent+}</b> me some of his books.<br>
                                    <b>Omission:</b> We discussed <b>[-about-]</b> the issue.<br>
                                    <b>Insertion:</b> School finishes at five in <b>{+the+}</b> afternoon.
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="linggle" role="tabpanel" aria-labelledby="linggle-tab">
                            <div clss="card">
                                <div class="card-body">
                                    <div id='suggest-info'></div>
                                    <form class="navbar-form navbar-left">
                                            <div class="form-group">
                                            <!-- search -->
                                            <div class="input-group">
                                                <input id="search-bar" type="text" class="form-control" placeholder="Search ...">
                                                <span class="input-group-btn">
                                                <button id="search-bar-btn" class="linggle btn btn-danger" type="button">
                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                </button>
                                                </span>
                                            </div>
                                            </div>
                                    </form>
                                    <div>
                                        <div class="linggle search-result" style="display: block;">
                                                <!-- search result listitems -->
                                                <table class="table">
                                                    <colgroup><col id="ngram">
                                                    <col id="percent">
                                                    <col id="count">
                                                    <col id="example">
                                                    </colgroup><thead>
                                                    <tr>
                                                        <th class="col-xs-9">N-gram</th>
                                                        <th class="col-xs-1 text-right">Percent</th>
                                                        <th class="col-xs-1 text-right">Count</th>
                                                        <th class="col-xs-1">Example</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody><tr><td colspan="4">Usage: Click on any vocabulary in TELLMEWHY box for its usages and examples.</td></tr></tbody>
                                                </table>
                                                <div class="linggle spinner" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>